.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
  -webkit-transition: opacity 200ms cubic-bezier(.755, .05, .855, .06);
  transition: opacity 200ms cubic-bezier(.755, .05, .855, .06);
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-about-light {
  background-color: transparent;
  opacity: 0.6;
  color: #5b8d8d;
}

.paragraph-light {
  opacity: 0.6;
  color: #fff;
}

.section {
  position: static;
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: #152e2e;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #152e2e;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  color: #152e2e;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 20px 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #859996;
}

.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-item {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-item:hover {
  opacity: 0.9;
}

.footer-item:active {
  opacity: 0.8;
}

.about-intro-grid {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hi-there-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #152e2e;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-heading {
  margin-bottom: 30px;
  color: #152e2e;
}

.nav-link {
  -webkit-transition: background-color 400ms ease, color 800ms ease, opacity 200ms ease;
  transition: background-color 400ms ease, color 800ms ease, opacity 200ms ease;
  color: #1e1f24;
}

.nav-link:hover {
  background-color: #152e2e;
  color: #fff;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: #92d1d1;
}

.body {
  background-color: #417472;
}

.body-2 {
  background-color: #417472;
}

.hero-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 780px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("https://uploads-ssl.webflow.com/616e557b9f332c7c65b672cd/61739ca18d8dbc50e897140d_Sophie'sGasStation.png");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  color: #fff;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.centered-container {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 90%;
  height: 90%;
  max-width: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.cards-image:hover {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0%;
  border: 1px none #000;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60vh;
  height: 60vh;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  background-image: url('../images/airship.png');
  background-position: 50% 50%;
  background-size: 60vh;
  background-repeat: no-repeat;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.div-block:hover {
  background-size: 70vh;
}

.div-block.comingship {
  display: inline-block;
  margin-top: 77px;
  padding: 0px;
  background-image: url('../images/airshipComingSoon.png');
  background-size: 70vh;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  -ms-grid-columns: auto 1fr 1fr;
  grid-template-columns: auto 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block {
  padding-top: 0px;
  color: rgba(26, 27, 31, 0.25);
  text-align: center;
}

.body-3 {
  background-color: #417472;
}

.image-4 {
  width: 50vw;
}

.cards-section-2 {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #417472;
  background-image: url('../images/资源-14.png');
  background-position: 50% 50%;
  background-size: cover;
  color: #a2d1d1;
}

.cards-section-2.gameplay {
  background-color: #417472;
  background-image: url('../images/资源-15.png');
  background-position: 50% 50%;
  background-size: auto;
  color: #9bbbb7;
  -o-object-fit: fill;
  object-fit: fill;
}

.centered-container-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.call-to-action {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #020303;
}

.section-3 {
  height: 90vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("https://uploads-ssl.webflow.com/616e557b9f332c7c65b672cd/61751959be4c1412a3701872_Sophie'sGasStation.png");
  background-position: 50% 50%;
  background-size: cover;
}

.heading-5 {
  color: #b8ddd4;
}

.paragraph-6 {
  background-color: transparent;
  color: #9bbbb7;
}

.button-2 {
  background-color: #152e2e;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #5b8d8d;
}

.feature-section.longterm {
  margin-top: 0px;
  padding-top: 0px;
  background-color: #355a59;
  color: #9bbbb7;
  -o-object-fit: fill;
  object-fit: fill;
}

.flex-container {
  display: -ms-grid;
  display: grid;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 94px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.flex-container.longterm {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.feature-image-mask {
  display: block;
  width: 100%;
  margin-right: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.div-block-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #417472;
}

.body-4 {
  background-color: #5b8d8d;
}

.body-5 {
  background-color: #417472;
}

.text-block-2 {
  color: #152e2e;
}

.section-4 {
  background-color: #5b8d8d;
}

.section-5 {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #355a59;
  background-image: url('../images/FrameCombWhiteBlue.png');
  background-position: 50% 0%;
  background-size: 1390px;
  background-repeat: repeat-x;
  background-attachment: scroll;
}

.section-6 {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #020303;
  background-image: url('../images/FrameCombFlex.png');
  background-position: 50% 100%;
  background-size: 1390px;
  background-repeat: repeat-x;
}

.section-7 {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #152e2e;
  background-image: url('../images/FrameCombUpWhite.png');
  background-position: 50% 100%;
  background-size: 1390px;
  background-repeat: repeat-x;
}

.section-8 {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url('../images/FrameCombDownWhite.png');
  background-position: 50% 0%;
  background-size: 1390px;
  background-repeat: repeat-x;
}

.paragraph-7 {
  color: #c71515;
}

.paragraph-9 {
  white-space: normal;
}

.container-2 {
  display: -ms-grid;
  display: grid;
  padding-top: 0px;
  padding-bottom: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #152e2e;
  font-size: 20px;
}

.section-9 {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-size: 20px;
}

.section-9.short {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-block-3 {
  display: block;
}

.heading-7 {
  margin-bottom: 32px;
  color: #b8ddd8;
}

.heading-8 {
  color: #b8ddd4;
}

@media screen and (min-width: 1440px) {
  .section-5 {
    background-color: #475b5b;
  }
}

@media screen and (min-width: 1920px) {
  .footer-links {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: left;
  }

  .hero-overlay {
    overflow: visible;
    border-radius: 0px;
    background-image: url("https://uploads-ssl.webflow.com/616e557b9f332c7c65b672cd/61751959be4c1412a3701872_Sophie'sGasStation.png");
    background-size: cover;
    background-attachment: scroll;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .div-block {
    max-height: 100vh;
    max-width: 100vw;
    min-height: 50vh;
    min-width: 50vw;
    background-image: url('../images/airship.png');
  }
}

@media screen and (max-width: 991px) {
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-intro-grid {
    grid-row-gap: 50px;
    grid-template-areas: "."
      ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .about-head-text-wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-link {
    color: #fff;
  }

  .nav-menu {
    background-color: #152e2e;
  }

  .menu-button-2 {
    background-color: #92d1d1;
  }

  .menu-button-2:hover {
    background-color: #152e2e;
    color: #fff;
  }

  .menu-button-2.w--open {
    background-color: #152e2e;
  }

  .hero-overlay {
    background-size: cover;
  }

  .cards-grid-container {
    grid-column-gap: 20px;
  }

  .div-block {
    width: 100vw;
    height: 70vh;
    margin-right: 0px;
    padding-right: 0px;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .container {
    text-align: center;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .section {
    margin-right: 0px;
    margin-left: 0px;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .about-head-text-wrap {
    width: 70%;
    max-width: 470px;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .menu-button-2 {
    padding-bottom: 20px;
    background-color: #92d1d1;
  }

  .menu-button-2:hover {
    background-color: #152e2e;
    color: #fff;
  }

  .image-2 {
    line-height: 28px;
  }

  .hero-overlay {
    padding: 40px 20px;
  }

  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .div-block {
    width: 100vw;
    height: 60vh;
  }

  .cards-section-2 {
    padding: 40px 20px;
  }

  .call-to-action {
    padding: 40px 20px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .feature-section-2 {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-head-text-wrap {
    width: 100%;
    max-width: none;
  }

  .hero-overlay {
    margin-top: -40px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-position: 50% 50%;
  }

  .centered-container {
    padding-left: 61px;
    text-align: left;
  }

  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block {
    width: 150vw;
    height: 40vh;
    margin-right: 0px;
    padding-right: 0px;
  }

  .centered-container-2 {
    text-align: left;
  }
}

#w-node-_471807af-634b-be9b-2309-96ad0464e310-5ab672d1 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9bfd1ac1-0b69-454c-06a8-53c71d954aa2-1d954aa0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9bfd1ac1-0b69-454c-06a8-53c71d954aa6-1d954aa0 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c1-1eb672d4 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c8-1eb672d4 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_186019ef-ee53-166a-9859-f3ad1525a6b7-1eb672d4 {
  -ms-grid-column-align: start;
  justify-self: start;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_6a1f5c93-b476-d9f6-9c90-037f2ce8736f-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3a57894d-ee70-b8ca-3e63-090d91e968cd-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c8bb6c4b-6949-0d90-da68-a933d714a263-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_467a14c7-1c0d-905b-5683-cfd2be2b6c8f-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_467a14c7-1c0d-905b-5683-cfd2be2b6c91-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_467a14c7-1c0d-905b-5683-cfd2be2b6c93-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_67197011-4160-a32c-f84c-e19a7030ca2a-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_584b5e68-79b0-fca7-898b-b4ac717402b6-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9ca81ce9-b6d7-9068-6312-2ffbab570972-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-_6c81171f-d75e-fd3a-6a85-9360faf0e30d-1eb672d4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

@media screen and (max-width: 991px) {
  #w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c8-1eb672d4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffe0-5ab672d1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffe2-5ab672d1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffe7-5ab672d1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffe9-5ab672d1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6c1-1eb672d4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6c3-1eb672d4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6c8-1eb672d4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6ca-1eb672d4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffd6-5ab672d1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffdd-5ab672d1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f09e5476-3903-4637-f6dc-ff51cc71ffe4-5ab672d1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6b7-1eb672d4 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6be-1eb672d4 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_186019ef-ee53-166a-9859-f3ad1525a6c5-1eb672d4 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}